---
import { getCollection } from 'astro:content'
import AboutCard from '@/components/about/aboutCard.astro'
import { LinkButton } from '@/components/ui/linkButton'
import { iconCards } from '@/constants/about'
import type { Languages } from '@/interfaces/i18n'
import SectionLayout from '@/layout/sectionLayout.astro'
import WidthLayout from '@/layout/widthLayout.astro'

interface Props {
  lang: Languages
}

const { lang } = Astro.props
const [about] = await getCollection('about', ({ slug }) => slug === lang)
const { Content } = await about.render()
---

<WidthLayout size="xl">
  <SectionLayout title={about.data.title} sub={about.data.sub}>
    <section
      id="about"
      class="flex flex-col gap-10 lg:flex-row overflow-hidden"
    >
      <div
        class="flex flex-col gap-4 text-lg flex-1 leading-relaxed max-w-prose about-me-prose"
      >
        <Content />
        <div class="flex gap-4">
          <LinkButton href={`/${lang}/cv.pdf`} aria-label={about.data.cv}>
            {about.data.cv}
          </LinkButton>
          <LinkButton
            href="#contact"
            variant="secondary"
            aria-label={about.data.contact}
          >
            {about.data.contact}
          </LinkButton>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 flex-1/12">
        {
          about.data.cards.map((card) => (
            <AboutCard
              Icon={iconCards[card.icon as keyof typeof iconCards]}
              title={card.title}
              content={card.content}
            />
          ))
        }
      </div>
    </section>
  </SectionLayout>
</WidthLayout>

<script>
  import { xScrollFadeIn } from '@/constants/animation/scrollFadeIn'
  xScrollFadeIn('.about-me-prose', 1.5, true)
  xScrollFadeIn('.about-me-card', 1.5)
</script>
