---
import { getCollection } from 'astro:content'
import { YScrollFadeIn } from '@/components/animation/scrollFadeIn'
import {
  Card,
  CardAction,
  CardDescription,
  CardHeader,
  CardTitle
} from '@/components/ui/card'
import { certificates } from '@/constants/certificates'
import type { Languages } from '@/interfaces/i18n'
import SectionLayout from '@/layout/sectionLayout.astro'
import WidthLayout from '@/layout/widthLayout.astro'

interface Props {
  lang: Languages
}

const { lang } = Astro.props
const [certificate] = await getCollection(
  'certificates',
  ({ slug }) => slug === lang
)
---

<WidthLayout size="xl">
  <SectionLayout title={certificate.body} sub={certificate.data.sub}>
    <section>
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
        {
          certificates.map(({ link, name, school, Technology }) => (
            <Card className="relative overflow-hidden certificate-card">
              <CardHeader>
                <CardTitle className="font-bold font-[Poppins] leading-snug">
                  {name}
                </CardTitle>
                <CardDescription>
                  <p>
                    {school} {certificate.data.approved}
                  </p>
                  <a
                    href={'/certificates/' + link}
                    target="_blank"
                    class="underline inline-block mt-1 transition-transform hover:scale-95"
                  >
                    {certificate.data.link}
                  </a>
                </CardDescription>

                <CardAction>
                  <Technology class="w-10 h-10 absolute bottom-0 right-0 -rotate-45 translate-x-1/12 translate-y-1/12 opacity-50" />
                </CardAction>
              </CardHeader>
            </Card>
          ))
        }
      </div>
    </section>
  </SectionLayout>
</WidthLayout>

<script>
  import { yScrollFadeIn } from '@/constants/animation/scrollFadeIn'
  yScrollFadeIn('.certificate-card', 0.5)
</script>
