---
import Favicon from '@/assets/favicon-dark.svg'
import type { Languages } from '@/interfaces/i18n'
import '@fontsource/quicksand'
import '@fontsource/poppins/700'
import '@fontsource/quicksand/700'
import '@/styles/global.css'
import StructuredData from '@/components/layout/structuredData.astro'

interface Props {
  title: string
  lang: Languages
  description: string
  keywords: string[]
}

const { title, lang, description, keywords } = Astro.props
---

<html lang={lang} class="scroll-smooth scroll-p-60">
  <head>
    <!-- Charset and viewport -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Basic SEO -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords.join(', ')} />
    <meta name="author" content="BryanAG-kcts" />
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="7 days" />

    <!-- Icons -->
    <link rel="icon" type="image/svg+xml" href={Favicon.src} />
    <link rel="apple-touch-icon" href={Favicon.src} />

    <!-- Theme color, manifest, sitemap, canonical -->
    <link rel="canonical" href={Astro.url.href} />
    <meta name="theme-color" content="#171717" />
    <link rel="manifest" href="" />
    <link
      rel="sitemap"
      type="application/xml"
      title="Sitemap"
      href="/sitemap-index.xml"
    />

    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:locale" content={lang} />
    <meta property="og:site_name" content={title} />
    <meta property="og:image" content={Favicon.src} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url.href} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={Favicon.src} />

    <!-- Security -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />

    <!-- Astro generator -->
    <meta name="generator" content={Astro.generator} />

    <!-- Structured data -->
    <StructuredData {...Astro.props} />
  </head>
  <body class="font-[Quicksand] dark">
    <slot />
  </body></html
>
